XMTP_WALLET_KEY=
XMTP_DB_ENCRYPTION_KEY=
XMTP_ENV=dev
XMTP_DB_DIRECTORY=
XMTP_PEER_ADDRESSES=
XMTP_GROUP_ID=
XMTP_ALLOWED_SENDERS=
XMTP_SELF_NAME=
XMTP_LOOP_STATE_PATH=
HUB_BASE_URL=
HUB_TOKEN=
HUB_ROOM_ID=
MEMBER_MODEL_API_KEY=
MEMBER_MODEL_URL=
XMTP_APPROVED_DAYS=
XMTP_SENSITIVE_KEYWORDS=
OWNER_NOTES_PORT=
